
body {
  margin: 0;
  font-family: monospace;
  color: #333;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/1290141/pexels-photo-1290141.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#mainheader {
  text-align: center;
  padding: 10px 0;
  background-color:#f9f9f9;;
}

#mainheader h1 {
  font-size: 3em;

}

#navbar {
  text-align: center;
  padding: 20px 0;
}

#navbar a {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  margin: 0 10px;
}

#navbar a:hover {
  background-color: #555;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#home {
  text-align: center;
  padding: 10px 0;
  background-size: cover;
  color: #fff;
}

#home h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

#home h3 {
  font-size: 1.5em;
  line-height: 1.6;
  margin-bottom: 30px;
}

.catalogue{
  padding: 50px 0;
  background-color: rgba(233, 232, 205, 0.788);
}
.subHeader h2 {
  text-align: center;
  margin: 0px auto;
  font-size: 3em;
}
#search {
  width: 400px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  margin-left: 300px;
}

#search:hover{
  background-color: burlywood;
  color: whitesmoke
}
#searchBtn {
border: 1px;
padding: 10px;
border-radius: 5px;
background-color: bisque;
color: black;
font-weight: 200;
}
#searchBtn:hover {
  background-color: burlywood;
  color: black;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 30px;
} 
.card img{
  width: 200px;
  height: 250px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
  transform: transform 0.3s ease;
}
.card {
  width:200px;
  height: fit-content;
  list-style: none;
  background-color: #666;
  padding: 0 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.content p{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.85em;
  padding: 0px;
 }
 .content h4{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;

 }
 .bookButtons{
  display: flex;
  justify-content: space-between;
 }
 .reserveBtn {
  flex: 1;
  text-align: center;
  margin-bottom: 2px;
  border: 10px;

}
.rsvBtn{
  width: 70px;
  display: block;
  
  margin-right: auto;
  padding: 4px 10px;
  border: 1px;
  border-radius: 5px;
  background-color: bisque;
}
#wishlistBtn {
  background-color:aliceblue;
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.remove-button{
  background-color:coral;
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 1px auto;

}
.wishlistBtn img {
  width: 20px;
  height: 20px;
  margin-left: 5px; 
}
.card:hover {
  transform: translateY(-5px);
}

.remove-button:hover{
  color: red;
}
#wishlistBtn:hover{
 background-color: whitesmoke;

}
div.basket-list{
  background-color:beige;
  margin: 20px 0
}
#feedbackForm {
  width: 80%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; 
}

input[type="submit"] {
  background-color: black; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

input[type="submit"]:hover {
  background-color: #0056b3; 
}


#feedbackFormContainer {
  background-color: rgba(233, 232, 205, 0.788);
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

#footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}
.reserveBtn button:hover{
  background-color: black;
  color:aliceblue;
}
.reserveBtn button:visited{
background-color:powderblue;
color:darkred;
}
#footer p {
  margin-bottom: 20px;
}

#footer a {
  color: #fff;
  margin: 0 10px;
}

#footer a:hover {
  text-decoration: underline;
}
